html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    width: 400px;
    height: 500px;
    background-color: rgb(187, 218, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

main .kalkulator {
    width: 90px;
    height: 90px;
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 30px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

main #tampilan {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 17px;
}

main #tigabelas {
    background-color: rgb(255, 162, 162);
}

main #empat,
#delapan,
#duabelas,
#enambelas {
    background-color: rgb(245, 255, 99);
}